

.about__inner {
    justify-content: center;
    height: 700px;
    max-height: 700px;
}

.about-slide {
    width: 400px;
    height: 50%;
}


.about__img-container {
    height: 400px;
    width: 100%;
}

.about__text-container{
    margin:20px 20px 20px 20px;
}

.about__text-container-subtitle {
    width: 100%;
}







